html, body {
  margin: 0; /*щоб картинка займала все вікно браузеру без відступів*/
}

.background{
    width: 100%;
}

.overlay{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000; /*чорний колір*/
  background: rgba(0,0,0,.9); /*задаємо прозорість чорному кольору*/
  z-index: 10;
}

#box{
  margin-top:3%;
  display: table;/*робимо таблицю щоб вподальшому можна було поцентрувати*/
  width: 100%;
}

#box #arrow-right{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#box #main-photo{
  display: table-cell;
  vertical-align: middle;
  width: 5px; 
}

#box #arrow-left{
  display: table-cell;
  vertical-align: middle;/*вирівнювання по вертикалі*/
  text-align: center;/*вирівнювання по горизонталі*/
}

.arrow{
  border:1px solid white;
}
 