body{
	background: #f2f2f2;
}
.block-holder{
	background: white;
	padding: 10px;
	height: 100%;
	
	
}
.link{
	background: #d9d9d9;
	padding: 10px;
	border-bottom: 1px solid #bfbfbf;
}
.filters, .content{
	border: 1px solid #bfbfbf;
	margin: 20px auto;
}
.header{
	border-bottom: 1px solid #bfbfbf;
	padding: 20px 0px 10px;
}
 #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

#map{
	height: 300px;
	padding: 13px;
	border: 1px black solid;
}
 
 @media screen and max-width: 